.iconCircle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #edf5ff;
  border-radius: 50%;
  font-size: 30px;
  color: #38d16a;
  text-align: center;
  transition: 0.5s;
}
