.showcase {
  height: 100vh;
  width: 100%;
  background: #000 url('../public/images/keren-levand-pm-e64IOYHM-unsplash.jpg')
    no-repeat center center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.showcase * {
  z-index: 20;
}

.showcase h1 {
  font-size: 55px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0;
}
.showcase p {
  color: #121619;
  line-height: 1.8;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
  margin-top: 25px;
  font-size: 18px;
}
